:root {
  --main-color: #472715;
  --sub-color: #d2cbc2;
}

.navbar {
  background-color: #472715;
  font-family: 'poppins', sans-serif;
}

.card {
  transition: all 0.3s ease;
  margin-top: 30px;
}

.card-header {
  opacity: 0.8;
  padding: 1.3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-color: #332e26;
}

#navbarNav {
  padding-right: 20px;
}

.row {
  margin-top: 50px;
}

.price-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 24px;
  margin-bottom: 1rem;
  color: rgb(130, 40, 40);
}

.feature-box {
  text-align: center;
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--sub-color);
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  width: 70%;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
}

.btn-primary:hover {
  background-color: #f5ebe0;
  border-color: #f5ebe0;
  color: var(--main-color);
}

#pr {
  font-size: 150px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}


#hero {
  background: url('Coffee.gif') center center no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 3rem 0;
  height: 50vh;
  width: 100%;
}

@media (max-width: 868px) {
  #hero {
    width: 100%;
  }
}

#lrow{
    margin-bottom: 50px;
    margin-top: -30px;
    border: transparent
}
#hero h1 {
  font-size: 36px;
}

#hero p {
  font-size: 18px;
}

#contact {
  color: #000000;
  background-color: #343a40;
  padding: 4rem 0;
  text-align: center;

}

#contact h3 {
  font-size: 36px;
  margin-bottom: 2rem;
 
}

#foot {
    background-color: #f5ebe0;
    margin:40px;
}

#f {
    padding-top: 20px;
    padding-bottom: 30px;
}
#space {
    margin-bottom:20px;
    font-weight:500;
    font-family: 'Poppins', Arial, sans-serif;
}

#space h3{
  font-weight: 700;
  font-family: 'Poppins', Arial, sans-serif;
}

.row  {
  color:var(--main-color)
}

#emailHelp{
  color: var(--main-color);
}

.form-label .form-check-input{
  color: var(--main-color);

}

.form-check-label{
  color: var(--main-color);

}

#brew h1{
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  color: var(--main-color);

}

#brew p{
  font-size: 15px;
  font-family: 'Poppins' Arial, sans-serif;
  letter-spacing: 1px;
  color: var(--main-color);
  font-weight: 100;

}

/* .col-md-4{
  color:var(--main-color)
} */
body{
  background-color: #d2cbc2;
}

/* .title h1{
  color:#472715
} */

.card-header img {
  border-radius: 50px;
  margin: 5px;
  height: 40vh;
}

.card-header img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}
/* 
.card-box .card-layer .card-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0,0,0,.1), chartreuse;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

} */

.row {
  background-color: transparent;
}

.card-body{
  background-color: #d2cbc2;
  border-color: none;
}

.card.mb-4{
  background-color:transparent;
  border-color: none;
  
}

#submit:hover{
  background-color: var(--sub-color);
}

/* .card.md-4{
  background-color: #b87a29;
} */

.col-md-12 h1{
  color: var(--main-color);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  font-size: 40px;
}

